@import './normalize.css';
@import './skeleton.css';

* {
    background-color: transparent;
    /* border: 1px solid blueviolet; */
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: aliceblue;
}

:root {
    font-size: medium;
    --grey: gray;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

body {
    display: flex;
    position: relative;
    background-size: 100% 100%;
}

button, input {
    border: 0;
}


button:focus, input:focus {
    border: 0;
    outline: none;
}

#main-left {
    flex: 2;
}

#main-right {
    flex: 1;
}

#navbar {
    display: flex;
    justify-content: start;
    gap: 20px;
    align-items: center;
    padding-top: 10px;
    padding-left: 20px;
}

#toggle-temp-container {
    display: flex;
}

#toggle-temp-container > label > input[type="radio"] {
    /* Add if not using autoprefixer */
    -webkit-appearance: none;
    appearance: none;
    /* For iOS < 15 to remove gradient background */
    /* Not removed via appearance */
    margin: 0;
}

#toggle-temp-container > * {
    color: var(--grey);
}

#toggle-temp-container > label {
    cursor: pointer;
    user-select: none;
}

#toggle-temp-container > label:has(input[type='radio']:checked) {
    color: aliceblue;
    cursor: default;
}
  

#main-right {
    display: flex;
    flex-flow: column;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
}

.card {
    height: 120px;
    position: relative;
    background-color: transparent; 
    justify-content: space-between;
    border-radius: 20px;
    padding: 10px;
    overflow: clip;
    display: flex;
    flex: 1;
    overflow: hidden;
  background: rgba(0, 0, 0, 0.4); /* Adjust the last value (0.5) to control the darkness */
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    transition: all 0.1s ease-in-out;
}

.card:hover {
    background: rgba(0, 0, 0, 0.6); /* Adjust the last value (0.5) to control the darkness */
}

.card:active {
    background: rgba(0, 0, 0, 0.7); /* Adjust the last value (0.5) to control the darkness */
}

.card.selected {
    background: rgba(0, 0, 0, 0.7); /* Adjust the last value (0.5) to control the darkness */
}

.notification {
    position: fixed;
    left: calc(50% - 200px);
    top: 10px;
    transform: translate(-50%,0);
    background-color: rgba(0, 0, 0, 0.4);
    width: min(80%, 400px);
    text-align: center;
    user-select: none;
}

#search-form {
    width: 360px;
    height: 40px;
    border: 1px solid var(--grey);
    border-radius: 25px;
    overflow: clip;
    display: flex;
    align-items: center;
    padding: 8px;
    padding-left: 1rem;
    margin: 0;
  background: rgba(0, 0, 0, 0.2); /* Adjust the last value (0.5) to control the darkness */
}

#search-input {
    height: 100%;
    border-bottom: 1px solid var(--grey);
    flex: 1;
    /* margin-left: 15px; */
    padding-bottom: 3px;
    margin: 0;
}

#search-button {
    width: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button > img {
    width: 30px;
}

.temperature, .weekday {
    white-space: pre-line;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@keyframes slide-in-out {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@media (max-width: 900px) {
    /* /* Your CSS styles for screens with a width less than 600px go here */
    body {
        flex-flow: column;
    }
    
    #main-right {
        display: grid;
    }
  }