* {
    background-color: navajowhite;
    border: 1px solid blueviolet;
}

:root {
}

body, html {
    width: 100%;
    height: 100%;
}

.card-container {
    display: flex;
}

.card {
    flex: 1;
}