@import './normalize.css';
@import './skeleton.css';

* {
    background-color: transparent;
    border: 1px solid blueviolet;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    font-size: medium;
    --grey: gray;
}

body, html {
    width: 100%;
    height: 100%;
    background-color: antiquewhite;
}

body {
    display: flex;
    position: relative;
}

button, input {
    border: 0;
}

.flex1 {
    flex: 1;
}

button:focus, input:focus {
    border: 0;
    outline: none;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}

#main-right {
    display: flex;
    flex-flow: column;
    padding: 10px;
    gap: 10px;
    overflow-y: scroll;
}

.card {
    height: 120px;
    background-color: var(--grey);
    justify-content: space-between;
    /* border-radius: 20px; */
    padding: 10px;
    overflow: clip;
    display: flex;
    flex: 1;
}

.notification {
    position: fixed;
    left: calc(50% - 200px);
    top: 10px;
    transform: translate(-50%,0);
    background-color: red;
    width: min(80%, 400px);
    text-align: center;
    user-select: none;
}

#search-form {
    width: 360px;
    height: 40px;
    border: 1px solid var(--grey);
    border-radius: 25px;
    overflow: clip;
    display: flex;
    align-items: center;
    padding: 8px;
    padding-left: 1rem;
    margin: 0;
}

#search-input {
    height: 100%;
    border-bottom: 1px solid var(--grey);
    flex: 1;
    /* margin-left: 15px; */
    padding-bottom: 3px;
    margin: 0;
}

#search-button {
    width: 40px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-button > img {
    width: 30px;
}

.temperature, .weekday {
    white-space: pre-line;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

@keyframes slide-in-out {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }
    15% {
        opacity: 1;
        transform: translateY(0);
    }
    70% {
        opacity: 1;
        transform: translateY(0);
    }
    100% {
        opacity: 0;
        transform: translateY(30px);
    }
}

@media (max-width: 900px) {
    /* /* Your CSS styles for screens with a width less than 600px go here */
    body {
        flex-flow: column;
    }
    
    #main-right {
        display: grid;
    }
  }